body{
    background-color:white !important;
    height:100vh;
    width:100%;
}
.div-paneles{
    position: relative !important;
    margin-top:10px;
    margin-left:100px;
    border:outset 6px !important;
    border-radius:10px;
    padding:0px !important;
    overflow-y:auto !important;
        background-color:black !important;
    margin:15px !important;

}
.div-panel{
    position: relative !important;
    background-color:white;
    border-radius:7px;
    border-top-right-radius:0px;
    border-top-left-radius:0px;
    margin-top:0px;
    max-height:98%  !important;
    margin-bottom:0px !important;
}
.panel{
        position: absolute !important;
    max-height:100% ;

}
.applicacion,.applicacion2 {position:absolute !important;border:outset 6px !important;border-radius:10px;min-height:95px !important; min-width:300px !important;}
h3{

}

