<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <title>Hello, World!</title>
      <!-- Local
        <link rel="stylesheet" href="styles/style.css"/>


    BootStrap
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        JQuery
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">
        Google Icons
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script>
    $( document ).ready(function() {
        console.log( "document loaded" );
    });
 
    $( window ).on( "load", function() {
        console.log( "window loaded" );
    });
    </script>
    <script type="module">
        import {Panel,PanelApp,PanelMod} from "./scripts/clases2.js";
    </script>
        <script src="scripts/scripts2.js" type="module"  defer></script>

     -->
            <template id="template_0" name="module_template">
            <div name=1 class="id-div bg-white ">
                <div class="master d-flex flex-column border p-0 m-0 rounded-2 overflow-auto border-black">
                    <div class="barra d-flex  w-100 p-2 gap-2 m-0 justify-content-between">
                        <div class="titulo h-100 pt-1 border ms-2 ps-2 pe-2 border-outset p-1">App</div>
                        <div>
                            <button class="bt-maxim btn sm-btn btn-white border">+</button>
                            <button class="bt-minim btn sm-btn btn-white border">-</button>
                        </div>
                    </div>
                    <div class="panel border flex-grow-1 h-50 overflow-auto  bg-gradient mt-0  m-1 rounded-2"></div>
                </div>
            </div>
        </template>
        <template id="template_1" name="main_template">
            <div onmouseleave="document.getElementsByClassName('applicacion')[panel_seleccionado].style.zIndex='1'" onmouseenter="panel_seleccionado= Array.from(document.getElementsByClassName('applicacion')).indexOf(this) ;document.getElementsByClassName('applicacion')[panel_seleccionado].style.zIndex='10'" style="top:10% !important;left:5% !important;width:100% !important;" class="applicacion template bg-black d-flex flex-column">
                <h3 class="m-0 ps-2 d-flex justify-content-between border-bottom bg-warning bg-gradient m-0 p-1 overflow-x-auto overflow-y-hidden gap-2">
                    <div class="titulo h3 bg-danger  d-flex  ms-0 m-0 p-0 ps-2 pe-2 rounded-2  border-0 border-outset">Applicacion

                    </div>
                    <div class=" d-flex m-0 p-1 gap-2 ms-3 me-3 ps-2 pe-3 border border-3 rounded-5 bg-warning  overflow-x-auto">
                        <i onclick="location.reload();" class=" border rounded-5  border-black border-2   ms-1 material-icons m-0 text-primary pt-0 me-3 " style="">refresh</i>
                        <i onclick="Jugador.Crea_jugador('control-'+Jugadores.length)" class="border border-2 rounded border-black material-icons m-0 text-danger pt-0 " style="">library_add</i>
                        <i onclick="Jugador.Crea_jugador(prompt('Nombre','control-'+Jugadores.length ))" class="border  border-black border-2 rounded material-icons m-0 text-success pt-0 " style="">add_box</i>
                        <button class="btn btn-sm border  ps-2 pe-2 text-white bg-primary bg-gradient m-0 p-0" onclick="add_menu('18')">AddMenu18</button>
                        <button class="btn btn-sm border ps-2 pe-2 text-white bg-primary bg-gradient rounded m-0 p-0" onclick="add_menu('8')">AddMenu8</button>
                        <button class="btn btn-sm border ps-2 pe-2 text-white bg-primary bg-gradient rounded m-0 p-0" onclick="add_menu(prompt('template','18'))">Add</button>
                    </div>
                    <div class="ms-0 me-2 d-flex gap-2 pt-1">
                        <i onclick="openFullscreen()" class="material-icons ms-0 p-0 m-0   text-black pt-1">crop_square</i>
                        <i onclick="" class="bt-max material-icons m-0 text-black pt-1 " style="">fullscreen</i>
                        <i onclick="" class="bt-min material-icons m-0 text-black pt-1 " style="">close_fullscreen</i>
                        <i onclick="var panel_destino=document.getElementsByClassName('applicacion')[panel_seleccionado];panel_destino.outerHTML=''" class="material-icons m-0 text-black p-0 pt-1 " style="">close</i>
                        <!-- JQuery 
                          <div class="h5 h-75 mt-1 border border-inset"></div>
                        <div class="h5 h-75 mt-1 border border-inset"></div>
                        <i onclick="Applicacion.maximiza()" class="bt-max material-icons m-0 text-black pt-1 " style="">add</i>
                        <i onclick="Applicacion.minimiza()" class="bt-max material-icons m-0 text-black pt-1 " style="">remove</i>
                        -->
                    </div>
                </h3>
                <div class="div-panel rounded-1 flex-grow-1 d-flex flex-wrap overflow-auto m-1 p-0  border-outset border-0"></div>
                <div style="zoom:0.7" class="ps-2 bg-primary bg-gradient rounded-1 m-1 mt-0 d-flex ">
                    <div class="d-flex gap-2 justify-content-between w-100 me-2">
                        <div class="d-flex  gap-2 m-0 p-1 h-auto text-white">
                            <!-- JQuery 
                                                        <i onclick="" class="ms-1 material-icons m-0   " style="">toggle_on</i>
                            -->
                            Paneles
                            <i onclick="Jugador.Crea_jugador('Document');carga_document()" class="ms-1 material-icons m-0  btn p-0 " style="">apps</i>
                            <i onclick="Jugador.Crea_jugador('Window');carga_window()" class="ms-1 material-icons m-0 btn p-0  " style="">app_registration </i>
                            <i onclick="Jugador.Crea_jugador('Aplicacion');carga_aplicacion()" class="ms-1 material-icons m-0   " style="">radio_button_unchecked </i>
                            <i onclick="" class="ms-1 material-icons m-0   " style="">radio_button_checked </i>
                            <i onclick="alert(Applicacion.start_style); document.getElementsByClassName('applicacion')[0].setAttribute('śtyle',Applicacion.start_style);" class="material-icons ms-4 m-0 text-black pt-0">crop_square</i>
                            <i onclick="Jugador.Crea_jugador('Visor');carga_visor()" class=" material-icons m-0  pt-0 " style="">refresh</i>
                        </div>
                        <div class="d-flex overflow-x-auto pt-0 text-white m-1">
                            Settings 
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <div style="zoom:.7;" class="d-flex  gap-2 m-0 p-0  rounded-3  overflow-x-auto ms-3">
                                <div class="border border-outset border-4 rounded-3 d-flex gap-0 m-0 p-0">
                                    <label class="bg-white text-black bg-gradient p-0 ps-2 pe-2  pt-1">Top</label>
                                    <label class="bg-black  text-white  bg-gradient ps-2 pe-2 border border-inset  pt-1">0</label>
                                </div>
                                <div class="border border-outset border-4 rounded-2 d-flex gap-0 m-0 p-0">
                                    <label class="bg-white text-black bg-gradient p-0 ps-2 pe-2  pt-1">Left</label>
                                    <label class="bg-black text-white bg-gradient ps-2 pe-2 border border-inset  pt-1">0</label>
                                </div>
                                <div class="border border-outset border-4 rounded-3 d-flex gap-0 m-0 p-0">
                                    <label class="bg-white text-black bg-gradient p-0 ps-2 pe-2  pt-1">Height</label>
                                    <label class="bg-black  text-white  bg-gradient ps-2 pe-2 border border-inset  pt-1">15</label>
                                </div>
                                <div class="border border-outset border-4 rounded-2 d-flex gap-0 m-0 p-0">
                                    <label class="bg-white text-black bg-gradient p-0 ps-2 pe-2  pt-1">Width</label>
                                    <label class="bg-black text-white bg-gradient ps-2 pe-2 border border-inset  pt-1">18</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

</head>
<body>

</body>
</html>
